.category {
  display: grid;
  gap: 10px;
  h2 {
    margin-left: 5rem;
  }
  .FormFields {
    label {
      input {
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 7px;
        border-radius: 4px;
        width: 65%;
        border: 1px solid black;
      }
    }
    .createPost {
      padding: 5px;
      border-radius: 6px;
      border: 1px solid blue;
      color: red;
      background-color: #fff;
      font-size: 16px;
      margin-top: 1rem;
      margin-left: auto;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }
  }
  .FormShow {
    table {
      width: 90%;
      border: 1px solid black;
      thead {
        tr {
          th {
            border: 1px solid black;
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
            .view,
            .edit,
            .delete {
              padding: 5px;
              border-radius: 4px;
              margin-right: 10px;
              border: red;
              cursor: pointer;
            }
            .view {
              background-color: blue;
              color: white;

              &:hover {
                background-color: chocolate;
                color: black;
              }
            }
            .edit {
              background-color: yellow;
              color: black;
              &:hover {
                background-color: chocolate;
                color: black;
              }
            }
            .delete {
              background-color: red;
              color: white;
              &:hover {
                background-color: chocolate;
                color: black;
              }
            }
          }
        }
      }
    }
    .create {
      text-decoration: none;
      padding: 8px;
      background: black;
      border-radius: 6px;
      position: relative;
      bottom: 11px;
      color: #fff;
    }
   
  }
}
