.category {
  display: grid;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;

  h2 {
    margin-left: 5rem;
  }
  .FormFields {
    margin-top: 4rem;
    label {
      display: flex;
      align-items: baseline;
      font-size: 18px;
      input {
        margin-top: 1rem;
        margin-left: 1rem;
        padding: 7px;
        border-radius: 4px;
        width: 70%;
        border: 1px solid black;
      }
    }
    .createPost,.createBack {
      padding: 5px;
      border-radius: 6px;
      border: 1px solid blue;
      color: red;
      background-color: #fff;
      font-size: 16px;
      margin-top: 1rem;
      margin-left: 40%;
      &:hover {
        background-color: red;
        color: #fff;
      }
    }
    .createBack {
      background-color: blue;
      color: #fff;
      margin-left: 1rem;
    }
  }
  .FormShow {
    .input-group {
      left: 62%;
      top: -6%;
    }
    table {
      width: 90%;
      border: 1px solid black;
      thead {
        tr {
          th {
            border: 1px solid black;
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
            .readview,
            .edit,
            .cardRead {
            }
            .delete {
              padding: 5px;
              border-radius: 4px;
              margin-right: 10px;
              border: red;
              cursor: pointer;
            }
            .readview {
              .back .cardRead {
                ground-color: blue;
                color: white;
              }

              &:hover {
                background-color: chocolate;
                color: black;
              }
            }
            .edit {
              background-color: yellow;
              color: black;
              &:hover {
                background-color: chocolate;
                color: black;
              }
            }
            .delete {
              background-color: red;
              color: white;
              &:hover {
                background-color: chocolate;
                color: black;
              }
            }
            .viewShow ,.editShow {
              border: 1px solid black;
              margin-right: 5px;
              padding: 5px;
              border-radius: 4px;
              &:hover {
                background-color: yellow;
                color: black;
              }
            }
            .editShow {
              background-color: darkviolet;
              color: #fff;
              &:hover {
                background-color: blue;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .create {
      text-decoration: none;
      padding: 8px;
      background: black;
      border-radius: 6px;
      position: relative;
      bottom: 11px;
      color: #fff;
    }
  }
}
.card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  top: 6%;
  border: none;
  .title {
    position: absolute;
    top: -5%;
    display: flex;
    font-family: emoji;
    left: 45%;
  }
  .card-body {
    height: auto;
    width: 18rem;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 1rem;
    .imageDish {
      width: 200px;
      height: 200px;
    }
    cursor: pointer;
    &:hover .DeleteX {
      display: block;
    }
    &:hover .EditIcons {
      display: block;
    }
    .card-title {
      font-weight: 600;
    }
    .card-address {
      font-size: 14px;
    }
    .incre {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      p {
        cursor: pointer;
        font-size: 20px;
        width: 20px;
        height: 33px;
        background-color: black;
        position: relative;
        text-align: center;
        border-radius: 4px;
        color: #fff;
        &:hover {
          background-color: yellow;
          color: black;
        }
      }
      span {
      }
    }

    .buttonAddAndRead {
      display: grid;
      margin-top: 1rem;
      padding: 1rem;
      .AddDish {
        text-decoration: none;
        color: black;
        text-align: center;
      }
      .ReadViews {
        text-align: center;
      }
      .AddDish,
      .ReadViews {
        margin-bottom: 0.5rem;
        border: 1px solid black;
        &:hover {
          background-color: yellow;
        }
      }
    }
    .DeleteX {
      position: absolute;
      margin-left: 14.8rem;
      display: none;
      font-family: 600;
    }
    .EditIcons {
      position: absolute;
      margin-left: 13rem;
      display: none;
      font-family: 600;
      color: black;
    }
  }
}
.createDish {
  margin-top: 4rem;
  .buttonFooter {
    margin-top: 2rem;
    margin-left: -1rem;
    button {
      margin-left: 1rem;
      width: 7rem;
      height: 2.5rem;
      border: 1px solid black;
      border-radius: 4px;
      &:hover {
        background-color: blue;
        color: #fff;
      }
    }
  }
}
.Add {
  position: absolute;
  top: 2%;
  width: 134px;
  height: 40px;
  right: 1%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;
  &:hover {
    background-color: cadetblue;
    color: wheat;
  }
}
.cardEdit {
  h1 {
    margin-left: -4rem;
    text-align: center;
  }
  .card-bodyEdit {
    padding: 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 20rem;
    border: 1px solid black;
    margin-top: -8rem;
    border-radius: 4px;
    .formEdit {
      .labelEdit {
      }
      .inputEdit {
        width: 100%;
        border: 1px solid black;
        border-radius: 4px;
        padding: 2px;
        margin-left: 2px;
        padding-left: 15px;
      }
    }
    .buttonEdit {
      margin-top: 1rem;
      .submitEdit,
      .backEdit {
        text-decoration: none;
        color: black;
        background-color: yellow;
        font-weight: 500;
        padding: 6px;
        border-radius: 4px;
        &:hover {
          background-color: cadetblue;
          color: yellow;
        }
      }
      .backEdit {
        margin-left: 1rem;
      }
    }
  }
}
.read {
  h1 {
    text-align: center;
  }
  .cardRead {
    .headerRead {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .headerTitle {
        text-align: left;
        .headerFirst {
          font-weight: 600;
          font-size: 2rem;
          font-family: "Times New Roman", Times, serif;
        }
        .headerSecond {
          font-family: "Times New Roman", Times, serif;
          font-size: 2rem;
        }
      }
      .favorite {
        margin-right: 8rem;
      }
    }
    .card-bodyViews {
      width: 50%;
      height: 100%;
      padding: 2rem;
      border: 1px solid black;
      border-radius: 4px;
      .hours {
        span {
        }
      }
    }
    .information {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

