.App {
  display: grid;
  grid-template-columns: 20% 80%;
  .navUl {
    height: 656px;
    padding: 2rem;
    border-radius: 4px;
    a {
     text-decoration: none;
     color: black;
      li {
        list-style: none;
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 10px;
        border-radius: 5px;
        &:hover {
          background-color:lightblue;
          color: #fefefe;
        }
      }
    }
  }
}
