
.has-submenu {
  position: relative;
}

.submenu-title {
  cursor: pointer;
  display: block;
  color: #fff;
  border-radius: 4px;
}

.submenu-title:hover {
  background-color: #ddd;
}

.submenu {
  display: none;
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.3rem;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu li {
  margin-bottom: 0.3rem;
}

.submenu a {
  text-decoration: none;
  color: #555;
  padding: 0.4rem;
  display: block;
  border-radius: 4px;
}

.submenu a:hover {
  background-color: #eee;
}
