.sidebar {
  background-color: #303f9f;
  color: white;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.admin-panel-title {
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 1.2rem;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
  text-align: left;
}

.has-submenu {
  position: relative;
}

.submenu-title {
  cursor: pointer;
  display: block;
  color: #fff;
  border-radius: 4px;
}

.submenu-title:hover {
  background-color: #ddd;
}

.submenu {
  display: none;
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.3rem;
}

.has-submenu:hover .submenu {
  display: block;
}

.submenu li {
  margin-bottom: 0.3rem;
}

.submenu a {
  text-decoration: none;
  color: #555;
  padding: 0.4rem;
  display: block;
  border-radius: 4px;
}

.submenu a:hover {
  background-color: #eee;
}
