/* src/components/ActionButton.css */
.action-button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  color: white;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.action-button:last-child {
  margin-right: 0;
}

.create-button {
  background-color: #4caf50; /* Màu xanh lá cây cho Create */
}

.create-button:hover {
  background-color: #388e3c;
}

.edit-button {
  background-color: #2196f3; /* Màu xanh dương cho Edit */
}

.edit-button:hover {
  background-color: #1976d2;
}

.delete-button {
  background-color: #f44336; /* Màu đỏ cho Delete */
}

.delete-button:hover {
  background-color: #d32f2f;
}

.read-button {
  background-color: #ff9800; /* Màu cam cho Read */
}

.read-button:hover {
  background-color: #f57c00;
}
