<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Chicken</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootstrap/css/bootstrap-grid.min.css">
</head>

<body>
  <div class="container">
    <div class="section-header"></div>
    <div class="section-content"></div>
    <div class="section-footer"></div>
  </div>
</body>
<script src="layout.js"></script>

</html>