.productDetail-container {
  cursor: pointer;
  .product-detail {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 2rem;

     img {
      border-radius: 6px;
      width: 100%;
     }
  }
  .product-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px; // đặt cao đủ để nút nằm giữa
    button {
      width: 70%;
      padding: 1.5rem;
      border: none;
      border-radius: 50px;
      text-align: center;
      color:brown;
      font-weight: 700;
      font-size: 1rem;
      margin: auto;
    }
  }
}